/* Chapters */

td a[href="/manga/48881/Darwins_Game"]:after {
margin-top: 0px;
position: absolute;
left: 50%;
margin-left: 20px;
content: " 43343 43434343 43434343434 434343";
color: black;
font-weight: lighter;
}
