@import url(https://fonts.googleapis.com/css?family=Quicksand);

.data.licensor span, .data.studio span, .data.tags span {
	display: block;
    font-size: 0 !important;
    line-height: 0;
}

.data.licensor a, .data.studio a, .data.tags a:not(.edit) {
	display: block !important;
    font-size: 8px;
	letter-spacing: 1px;
	font-family: Quicksand !important;
}

.tags div a {
	padding: 0px 5px 0px 5px;
	border-radius: 0px;
	box-shadow: 0 0 2px 0.5px #151515;
	
	color: #000;
	font: bold 14px/17px "Quicksand";
	margin: 2px
}

.tags div a:hover {
	text-decoration: none !important;
}

.data.tags div {
	position: relative;
	
	display: flex;
	width: 128px;
	margin-left: auto;
	max-height: 44px;
	
	direction: rtl;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}

.data.tags span {
	display: inline-block;
	width: auto;
}


.tags div [href*="Spring"],
.tags div [href*="Summer"],
.tags div [href*="Fall"],
.tags div [href*="Winter"],
.tags div [href*="Later"]
{
	top: 50%;
	right: 905px !important; /* Slight reposition to retain original position */
	border-radius: 0px !important;
	margin-top: 2px !important;
	text-align: center !important;
	background-color: rgb(25, 25, 25, 1) !important;
}
.tags div [href*="Spring"]:hover,
.tags div [href*="Summer"]:hover,
.tags div [href*="Fall"]:hover,
.tags div [href*="Winter"]:hover,
.tags div [href*="Later"]:hover {
	background-color: rgb(15, 15, 15, 1) !important;
}

.tags div [href*="R"],
.tags div [href*="S"],
.tags div [href*="G"]{
	background-color: #212121;
	width: 77px !important;
	direction: initial;
	text-align: left;
}

.tags div [href*="Spring"] { text-shadow: 0 0 2px #009933 !important; width: 50px !important; position: absolute !important;}
.tags div [href*="Summer"] { text-shadow: 0 0 2px #e6ac00!important; width: 50px !important; position: absolute !important;}
.tags div [href*="Fall"] { text-shadow: 0 0 2px #996600 !important; width: 50px !important; position: absolute !important;}
.tags div [href*="Winter"] { text-shadow: 0 0 2px #00cca3 !important; width: 50px !important; position: absolute !important;}
.tags div [href*="Later"] { text-shadow: 0 0 2px #666666 !important; width: 50px !important; position: absolute !important;}

.tags div [href*="R"] { text-shadow: 0 0 2px #993366; }
.tags div [href*="R"]:hover { background: #993366; }

.tags div [href*="S"] { text-shadow: 0 0 2px #0066cc; }
.tags div [href*="S"]:hover { background: #0066cc; }

.tags div [href*="G"] { text-shadow: 0 0 2px #99cc00; }
.tags div [href*="G"]:hover { background: #99cc00; }

/* Tag Descriptions Basis */

.tags span a:after {
	position: absolute;
	left: 133px;
	top: 50%;
	line-height: 1;
	width: 300px;
	height: auto;
	padding: 0 5px;
	background: #000;
	border-radius: 2px;
	padding: 5px;
	white-space: pre-wrap;
	
	opacity: 0;
	pointer-events: none;
	transform: translateY(-50%);
	transition: all 0.3s ease;
	z-index: 100;
}
.tags span a:hover:after {
	opacity: 1;
}

/* Tag Descriptions */

/* EXAMPLES */
.tags span a[href*="Nudity"]:after { content: "- Rating R+ : Nudity -\a Contains full nudity and/or light sexual content.\a Animes that shows skin but hide important places are *not* tagged with *Nudity* but with *Ecchi*."; }
.tags span a[href*="Adult"]:after { content: "- Rating R+ : Adult -\a Contains both sexual content and bloody content."; }
.tags span a[href*="Ecchi"]:after { content: "- Rating 17+ Ecchi -\a Contains light nudity (important places always hidden by smoke/hairs/hands). Can also contain light sexual content."; }
.tags span a[href*="Bloody"]:after { content: "- Rating 17+ : Bloody -\a Contains scenes that involves torture, dismembering and death."; }
.tags span a[href*="Mature"]:after { content: "- Rating 17+ : Mature -\a Contains light nudity and light bloody content."; }
.tags span a[href*="13%2B"]:after { content: "- Rating 13+ -\a Doesn't countain anything nsfw." }

.tags span a[href*="Modern"]:after { content: "- Setting : Modern -\a The story is set in our classic universe, in the modern era.\a If another races, or magic powers are included, the setting is Supernatural."; }
.tags span a[href*="History"]:after { content: "- Setting : History -\a The story is set in our classic universe, in a precedant era.\a If another races or magic powers are included, the setting is Supernatural."; }
.tags span a[href*="Future"]:after { content: "- Setting : Future -\a The story is set in our universe, but in a distant future. May include technology related powers."; }
.tags span a[href*="Supernatural"]:after { content: "- Setting : Supernatural -\a The story is set in our universe, but usually includes another races and/or magic powers."; }
.tags span a[href*="Fantasy"]:after { content: "- Setting : Fantasy -\a The story is set in another universe.\a If the main character(s) are from our classic universe, the setting is Isekai."; }
.tags span a[href*="Isekai"]:after { content: "- Setting : Isekai -\a The story is set in another universe with the main character(s) being from our classic universe.\a If the main character(s) are native to this universe, the setting is Fantasy."; }


.tags span a[href*="G%20%7C%20Action"]:after { content: "- Genre -\a Action"; }
.tags span a[href*="G%20%7C%20Comedy"]:after { content: "- Genre -\a Comedy"; }
.tags span a[href*="G%20%7C%20Romance"]:after { content: "- Genre -\a Romance"; }
/* EXAMPLES */