@import url(https://fonts.googleapis.com/css?family=Quicksand);

.data.licensor span, .data.studio span, .data.tags span {
	display: block;
    font-size: 0 !important;
    line-height: 0;
}

.data.licensor a, .data.studio a, .data.tags a:not(.edit) {
	display: block !important;
    font-size: 8px;
	letter-spacing: 1px;
	font-family: Quicksand !important;
}

.tags div a {
	padding: 0px 5px 0px 5px;
	border-radius: 0px;
	box-shadow: 0 0 2px 0.5px #151515;
	
	color: #000;
	font: bold 14px/17px "Quicksand";
	margin: 2px
}

.tags div a:hover {
	text-decoration: none !important;
}

.data.tags div {
	position: relative;
	
	display: flex;
	width: 128px;
	margin-left: auto;
	max-height: 44px;
	
	direction: rtl;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}

.data.tags span {
	display: inline-block;
	width: auto;
}


.tags div [href*="Spring"],
.tags div [href*="Summer"],
.tags div [href*="Fall"],
.tags div [href*="Winter"],
.tags div [href*="Later"]
{
	top: 50%;
	right: 905px !important; /* Slight reposition to retain original position */
	border-radius: 0px !important;
	margin-top: 2px !important;
	text-align: center !important;
	background-color: rgb(25, 25, 25, 1) !important;
}
.tags div [href*="Spring"]:hover,
.tags div [href*="Summer"]:hover,
.tags div [href*="Fall"]:hover,
.tags div [href*="Winter"]:hover,
.tags div [href*="Later"]:hover {
	background-color: rgb(15, 15, 15, 1) !important;
}

.tags div [href*="Spring"]:before,
.tags div [href*="Summer"]:before,
.tags div [href*="Fall"]:before,
.tags div [href*="Winter"]:before,
.tags div [href*="Later"]:before {
	content: "\002E22";
	font-size: 11px;
}

.tags div [href*="Spring"]:after,
.tags div [href*="Summer"]:after,
.tags div [href*="Fall"]:after,
.tags div [href*="Winter"]:after,
.tags div [href*="Later"]:after {
		content: "\002E25";
		font-size: 11px;
}

.tags div [href*="R"],
.tags div [href*="S"],
.tags div [href*="G"]{
	background-color: #212121;
	width: 77px !important;
	direction: initial;
	text-align: left;
}

.tags div [href*="Spring"] { text-shadow: 0 0 2px #009933 !important; width: 50px !important; position: absolute !important;}
.tags div [href*="Summer"] { text-shadow: 0 0 2px #e6ac00!important; width: 50px !important; position: absolute !important;}
.tags div [href*="Fall"] { text-shadow: 0 0 2px #996600 !important; width: 50px !important; position: absolute !important;}
.tags div [href*="Winter"] { text-shadow: 0 0 2px #00cca3 !important; width: 50px !important; position: absolute !important;}
.tags div [href*="Later"] { text-shadow: 0 0 2px #666666 !important; width: 50px !important; position: absolute !important;}

.tags div [href*="R"] { text-shadow: 0 0 2px #993366; }
.tags div [href*="R"]:hover { background: #993366; }

.tags div [href*="S"] { text-shadow: 0 0 2px #0066cc; }
.tags div [href*="S"]:hover { background: #0066cc; }

.tags div [href*="G"] { text-shadow: 0 0 2px #99cc00; }
.tags div [href*="G"]:hover { background: #99cc00; }

