.data.licensor span, .data.studio span, .data.tags span {
    display: block;
    padding: 1px 0;
    font-size: 0 !important;
    line-height: 0;
}

.data.licensor a, .data.studio a, .data.tags a:not(.edit) {
    display: block !important;
    font-size: 11px !important;
}
