@import url(https://fonts.googleapis.com/css?family=Quicksand);

:root {
  --shade1: rgb(35, 35, 35);
  --shade2: rgb(40, 40, 40);
  --shade3: rgb(45, 45, 45);
	--shade4: rgb(30, 30, 30);
  
}

#advanced-options {background-color: rgb(20, 20, 20); color: white !important;}
#advanced-options .advanced-options-header,#advanced-options .advanced-options-header span.description {font-weight: bold; letter-spacing: 0.5px;font-family: "Quicksand";}
#advanced-options .btn-apply, #advanced-options .btn-clear {background-color: #EA5D5D;}
#advanced-options .btn-apply:hover, #advanced-options .btn-clear:hover {background-color: #C14D4D;}

#footer-block {background-color: rgb(15, 15, 15);}
#copyright:after {content: "\a Style by Valerio-Lyndon and Loki940"; white-space: pre-wrap; font-size: 9px; font-family: "Quicksand"; letter-spacing: 0.2px;}

body.ownlist {background: none; background-color: rgb(15, 15, 15)}
.list-unit .list-stats {width: 1050px; background-color: rgb(50, 50, 50)}
/* Container */

.cover-block .image-container:hover .btn-list-setting {margin-right: -24px;}

.header .header-title {left: 1%; z-index: 50;}
.header .header-menu {right: 1%;}
.header {position: absolute; width: 100%;}
.cover-block .image-container img { 
	max-height: 291px;
	margin-left: 85px;
	float: right;

}
.list-container {border-color: rgb(25, 25, 25); box-shadow: 0 0 2px 1px black;}
.cover-block .image-container {
	top: 50px;
	width: 1050px; 
	position:absolute;
	right: 4px;
	background-color: rgb(27, 27, 27);
	padding-bottom: 0px;
	z-index: 0;
}



.list-unit { margin-top: 357px; z-index: 50; }
.status-menu-container { background-color: rgb(15, 15, 15); border-bottom: none;}

/************/
/*   Body   */
/************/

	.status-menu-container {z-index: 500 !important; position: fixed; top: 0; padding-bottom: 5px;}
	.list-table-data {height: 44px !important;}
.list-unit, .list-unit .list-status-title, .list-unit .list-status-title .text { width: 1050px;}
	
	/* Coloration */
		a {color: white;}
		.list-container {background: rgb(15, 15, 15);}
		.list-status-title .text {background-color: var(--shade1) !important;; height: 60px !important; font-family: Quicksand !important;}
		.list-table-header .header-title, .list-table > tbody:nth-of-type(2n+1) {background-color: var(--shade2) !important;}
		.list-table {background-color: var(--shade3)}
		#copyright,
    .data.number,
		.data.type, 
		.list-table 
		.list-table-header 
		.header-title 
		.link.sort, 
		.header-title.number, 
		.header-title.tags,
		.td1.borderRBL,
    .status-button,
    span {
			color: white !important;
		  font-family: "Quicksand" !important;
}

	/* Borders */
		.list-table,.list-table .list-table-data .data, .list-table .list-table-header .header-title {border: none; }
		
	/* Hovers */
		.list-table-data:hover {background-color: rgb(255, 255, 255, 0.05);}
    .link:hover, [class^="icon-add-"]:hover {color: rgb(185, 185, 185) !important; text-decoration: none !important;}
		
		
/************/		
/*   Title  */		
/************/		
	/* Title */
		.list-table .data.title .link {
			font-size: 10px !important;
			letter-spacing: 0.6px;
		  font-family: "Quicksand" !important;
			background-color: rgb(24,24,24);
			box-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
			padding: 3px 7px 3px 7px;
			border-radius: 0px;
		}
		.list-table .data.title .link:hover {
			text-decoration: none !important;
			background-color: rgb(0, 0, 0, 0.7);
			color: rgb(255, 255, 255);
		}	
	/* Status */
		.content-status {
			background-color: rgb(24,24,24);
			font-size: 9px !important;
			padding: 1px 3px 2px 3px;
			box-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
			border-radius: 1px;
		}
	
	
/************/
/*   Type   */
/************/

	 .data.type { 
		font-size: 10px;
		position: relative;
		bottom: 11px;
	}

	/* Remove Type Column */
		.header-title.type {
			width: 0 !important;
			padding: 0;
		}
		.header-title.type a {
			font-size: 0 !important;
		}

	/* Reposition Type Column Rows */
		.data.type {
			position: absolute;
			bottom: auto; /* overriding current CSS */
	
			height: 11px !important;
			width: 35px !important;
			padding: 3px 4px !important;
			padding-bottom: 3px !important;
			background-color: rgb(24,24,24);
			border-radius: 2px;
			box-shadow: 0 0 2px black;
			margin: 6px 0 0 60px;
			z-index: 200 !important;font-family: Quicksand;
	
			font-size: 10px;
			line-height: 11px;
	
			transform: translateX(-50%) translateY(20%);
		}

  .list-table-data:hover .data.type {
		margin-top: 2px;
		transition: 0.5s ease;
  }

		
/************/
/*  Format  */
/************/

.header-title.tags {font-size: 0;}
.header-title.tags:after {content: "Type"; font-size: 11px;}

	.tags div a {
		position: relative;
		top: -1px;
		font-size: 9px;
		background-color: rgb(24,24,24);
		padding: 4px 4px 2px 4px;
		border-radius: 2px;
		box-shadow: 0 0 2px black;
		font-family: Quicksand;
	}

	.tags div [href*="P"]:hover, .tags [href*="D"]:hover {
		text-decoration: none !important; 
		color: white; 
		text-shadow: 0 0 2px black; 
	}
		
.list-table-data:hover .tags div a {
		top: 8px !important;
		transition: 0.2s ease;
  }

		
/************/
/*  Number  */
/************/

	/* Number */
		.data.number {
			background: #1a1a1a;
			text-shadow: 0 0 2px black;
			box-shadow: 0 0 2px black;
			padding: 5px 1px 5px 3px !important;
			margin: 14px auto;
			position: absolute;
			width: 20px;
			height: 18px !important;
			padding: 0 3px !important;
			line-height: 16px !important;
		}

	/* Status */
		.list-table .list-table-data .data.status.reading, .list-table .list-table-data .data.status.watching, 
		.list-table .list-table-data .data.status.completed, 
		.list-table .list-table-data .data.status.onhold, 
		.list-table .list-table-data .data.status.plantoread, .list-table .list-table-data .data.status.plantowatch  {
			background-color: transparent;
		}

		.list-table .list-table-data .data.status:before, 
		.list-table .list-table-data .data.status:before {
			position: absolute;
			margin-left:3px;
			margin-top:5px;
			box-shadow: 0 0 2px 0px black;
			z-index: 100 !important;
			content: "";
			height:5px !important;
			width: 5px;
		}

		.list-table .list-table-data .data.status.reading:before, 
		.list-table .list-table-data .data.status.watching:before { background-color: #2db039; }
		
		.list-table .list-table-data .data.status.completed:before { background-color: #26448f; }
		
		.list-table .list-table-data .data.status.onhold:before { background-color: #f1c83e; }
		
		.list-table .list-table-data .data.status.dropped:before { background-color: #a12f31; }
		
		.list-table .list-table-data .data.status.plantoread:before, 
		.list-table .list-table-data .data.status.plantowatch { background-color: #c3c3c3; }

		
/*************/
/* Edit-More */
/*************/

	/* Buttons */
		.list-table .list-table-data .data.title .add-edit-more {
			opacity: 0;
			margin-left: 3px;
			margin-top: 1px;
			color: white;
		}
    
		.list-table .list-table-data .data.title .add-edit-more span { 
			padding: 1px 4px 1px 4px;
			background-color: rgb(24,24,24);
			box-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
			font-size: 8.5px;
		}

		.list-table .list-table-data:hover .data.title .add-edit-more {
			opacity: 1;
			float: initial;
			transition: 0.5s ease;
		}

		.list-table .list-table-data .data.title .add-edit-more a:hover { color: rgb(185, 185, 185) !important; text-decoration: none !important; }

	/* More Section */
		.td1.borderRBL {
			text-shadow: 0 0 1px white !important;
		}

		.td1.borderRBL a:hover { color: rgb(185, 185, 185) !important; text-decoration: none !important; }
  
  
/************/
/* Progress */
/************/

	/* Suppression of "/ -" */
		.data.chapter, .data.volume {font-size: 0; line-height: 0; }


	/* Combine Chapters/Volumes Columns */
		.header-title.chapters {
			width: 0 !important;
			padding: 0;
			background-image: none !important;
		}
		
		.header-title.chapters a {
			display: none !important;
		}
		
		.header-title.volumes a {
			font-size: 0 !important;
			width: 110px;
		}
		
		.header-title.volumes a:before {
			content: "Progression";
			font-size: 11px;
			color: white;
		}

	/* Reposition chapter/volume contents */
		.data.chapter div {
			position: absolute; width: 92px; /* Repositions chapter column */
			display: flex;
			height: 13px;
			margin-top: -19px;
			text-align: left;
			margin-left: 8px;
		}
		
		.data.volume div {
			display: flex;
			height: 13px;
			margin-top: 16px;
			text-align: left;
			margin-left: 8px;
		}

		.data.chapter span, .data.volume span {
			order: 1;
		}
		
		[class^="icon-add-"] {
	font-size: 11px;
	height: 13px;
	padding: 2px 3px 1px 2px;
	background-color: rgb(24, 24, 24);
	margin-left: -2px;
	margin-right: 0;
	border-radius: 0 2px 2px 0;
			font-size: 0px;
		}
		
		/* Decoration */
		.data.volume [class^="icon-add-"], .data.chapter [class^="icon-add-"] {
    	margin-top: 0;
    }
		[class^="icon-add-"]:before {content: "+"; font-size: 9px; background-color: rgb(34, 34, 34); padding: 0px 1px 0px 1px;}
		
	/* Fix to Previous Code - Should be incoorporated */
		.data.volume .link
		{ line-height: 1.6; }
		
		.data.chapter .link
		{ line-height: 1.4; }
		

		.data.volume span:only-of-type, .data.volume span:after, 
		.data.chapter span:only-of-type, .data.chapter span:after,
		.data.chapter .link:after,
		.data.volume .link:after,
		.data.volume div[class$="56743"] .link,
		.data.volume div[class$="48881"] .link,
		.data.volume div[class$="103707"] .link,
		.data.volume div[class$="48399"] .link,
		.data.volume div[class$="24822"] .link,
		.data.volume div[class$="88923"] .link,
		.data.volume div[class$="83019"] .link,
		.data.volume div[class$="25409"] .link,
		.data.volume div[class$="56133"] .link,
		.data.volume div[class$="67329"] .link,
		.data.volume div[class$="45855"] .link,
		.data.volume div[class$="67617"] .link,
		.data.chapter div[class$="106106"] .link
{	
	font-size: 11px;
	display: inline-block;
	height: 16px;
	padding: 0 3px 0 2px;
	background-color: rgb(24, 24, 24);
	margin-left: 2px;
	border-radius: 2px;
  width: 25px;
	text-align: center;
}

	/* Add Chapter/Volume Prefixes */
		.data.volume div:before, .data.chapter div:before {
			display: inline-block;
			width: 43px;
			background-color: rgb(24, 24, 24);
			border-radius: 2px;
			height: 13px;
			padding: 2px 7px 1px 6px;
			color: white;
			font-size: 10px;
			line-height: 1.2;
		}
		
		.data.volume div:before { content: "Volume"; } 
		.data.chapter div:before { content: "Chapter"; }

		.tags .edit {display: none !important; }