/* TOTAL VOLUMES REMOVING */

.data.volume {
	font-size: 0;
	line-height: 0;
}
.data.volume .link,
.completed ~ .data.volume span,
[class^="icon-add-"],
.data.volume span:after,
.data.volume .link:after {
	font-size: 11px;
	line-height: 1;
	white-space: pre;
}
[class^="icon-add-"] {
	margin-left: 3px;
}

/* DARWIN'S GAME */
.data.volume div[class$="48881"] span:first-child:after {
	content: " / 11";
}

/* DANMACHI */
.data.volume div[class$="56743"] span:first-child:after {
	content: " / 10";
}

/* NO GAME NO LIFE */
.data.volume div[class$="48399"] span:first-child:after {
	content: " / 4";
}

/* TRINITY SEVEN */
.data.volume div[class$="24822"] span:first-child:after {
	content: " / 6";
}

/* PANDORA HEARTS */
.data.volume div[class$="3031"] span:first-child:after {
	content: " / 24";
}

/* DEATH MARCH */
.data.volume div[class$="83019"] span:first-child:after {
	content: " / 3";
}

/* TATE NO YUUSHA */
.data.volume div[class$="67617"] span:first-child:after {
	content: " / 1";
}



