/* TOTAL VOLUMES REMOVING */

.data.volume {
	font-size: 0;
	line-height: 0;
}
.data.volume .link,
.completed ~ .data.volume span,
[class^="icon-add-"],
.data.volume span:after,
.data.volume .link:after {
	font-size: 11px;
	line-height: 1;
	white-space: pre;
}
[class^="icon-add-"] {
	margin-left: 3px;
}

/* NO GAME NO LIFE */
.data.volume div[class$="48399"] span:first-child:after {
	content: " / 4";
}
